@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:300,400");

/*
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

body {
    background: #fff;
}

body, input, select, textarea {
    color: #444;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 300;
    line-height: 1.65em;
}

a {
    color: #28b5df;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong, b {
    color: #666;
    font-weight: 400;
}

em, i {
    font-style: italic;
}

p {
    margin: 0px 0px 2rem 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: #666;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-weight: 300;
    letter-spacing: -0.13rem;
    font-size: 3.21rem;
    line-height: 3.44rem;
    margin: 1.72rem 0 1.72rem 0;
}

h3 {
    opacity: 0.64;
    font-weight: 400;
    letter-spacing: -0.10rem;
    font-size: 2rem;
    line-height: 2.86rem;
    margin: 0 0 1.14rem 0;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border: 0;
    border-bottom: medium 1px rgba(144, 144, 144, 0.25);
    margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

blockquote {
    border-left: solid 4px rgba(144, 144, 144, 0.25);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0 0 0 0.5em;
}

blockquote p{
    margin-bottom: 16px;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-top: 0;
}

code {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Section/Article */

section.special, article.special {
    text-align: center;
}

header p {
    position: relative;
    margin: 0 0 1.5em 0;
}

header h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.5em;
}

header h3 + p {
    font-size: 1.1em;
    margin-top: -0.8em;
    line-height: 1.5em;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9em;
    margin-top: -0.6em;
    line-height: 1.5em;
}

header.major {
    text-align: center;
    margin-bottom: 3em;
}

header.major h2 {
    font-size: 3em;
}

header.major p {
    border-top: medium double rgba(144, 144, 144, 0.25);
    display: inline-block;
    padding: 2em 2em 0 2em;
}

/* Form */

form {
    margin: 0 0 2em 0;
}

label {
    color: #666;
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: none;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #28b5df;
    box-shadow: 0 0 0 1px #28b5df;
}

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.select-wrapper:before {
    color: rgba(144, 144, 144, 0.25);
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
}

.select-wrapper select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background: #3ba666;
    border-color: #3ba666;
    color: #ffffff;
    content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: #28b5df;
    box-shadow: 0 0 0 1px #28b5df;
}

input[type="checkbox"] + label:before {
    border-radius: 4px;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: #888 !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: #888 !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: #888 !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: #888 !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: #888 !important;
    opacity: 1.0;
}

/* Box */

.box {
    border-radius: 4px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    margin-bottom: 2em;
    padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

.icon.rounded {
    border-radius: 100%;
    border: 1px solid #444444;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
    margin-bottom: 1em;
}

.icon.rounded.big {
    font-size: 3.5em;
}

/* Image */

.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 4px;
    display: block;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px rgba(144, 144, 144, 0.25);
    padding: 0.8em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li > * {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li > * {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}

ul.tabular {
    list-style: outside none none;
    padding: 0px;
}

ul.tabular li {
    border-top: solid 1px rgba(144, 144, 144, 0.25);
    line-height: 1.75em;
    margin: 1.5em 0px 0px;
    padding-left: 7em;
    padding-top: 12px;
    position: relative;
}

ul.tabular li:first-child {
    border-top: 0;
    margin-top: 0;
}

ul.tabular li h3 {
    left: 0px;
    position: absolute;
    text-align: center;
    top: 12px;
    vertical-align: top;
    width: 1em;
}

dl {
    margin: 0 0 2em 0;
}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px rgba(144, 144, 144, 0.25);
    border-left: 0;
    border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    color: #666;
    font-size: 0.9em;
    font-weight: 400;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 2px rgba(144, 144, 144, 0.25);
}

table tfoot {
    border-top: solid 2px rgba(144, 144, 144, 0.25);
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px rgba(144, 144, 144, 0.25);
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #e53935;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 2.85em;
    line-height: 2.8em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background-color: #f44336;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
    background-color: #f44336;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon {
    padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
    font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
.button.big {
    font-size: 1em;
}


input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
.button.alt.icon:before {
    color: #888;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
.button.special {
    background-color: #259CC3;
    color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
.button.special:hover {
    background-color: #259CC3;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
.button.special:active {
    background-color: #259CC3;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
.button.disabled,
.button:disabled {
    background-color: #444 !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #fff !important;
    cursor: pointer;
    opacity: 0.25;
}

/* Header */

body.landing #header {
    background-color: transparent;
    left: 0;
    position: absolute;
    top: 0;
}

.landing-style1 #banner{
    background-color: #607d8b;
    padding: 6em 0em 0em;
}

.landing-style1 #banner .button{
    background-color: #03a9f4;
}

.landing-style1 #header{
    background-color: #607d8b;    
}

#header {
    background-color: #3F51B5;
    color: #ffffff;
    cursor: default;
    height: 4.75em;
    line-height: 4.75em;
    width: 100%;
    z-index: 10000;
}

#header h1 {
    color: #ffffff;
    height: inherit;
    left: 2.5em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

#header h1 a {
    font-size: 1.25em;
}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 2.75em;
    top: 0;
    vertical-align: middle;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header nav > ul > li {
    border-radius: 4px;
    display: inline-block;
    margin-left: 1.5em;
    padding-left: 0;
}

#header nav > ul > li a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    opacity: 0.8;
    font-weight: normal;
}

#header nav > ul > li a:hover {
    color: #ffffff;
    opacity: 1;
}

#header nav > ul > li:first-child {
    margin-left: 0;
}

#header nav > ul > li .button {
    height: 2.25em;
    line-height: 2.25em;
    margin-bottom: 0;
    padding: 0 1em;
    position: relative;
    top: -0.075em;
    vertical-align: middle;
}

#header .container {
    position: relative;
}

#header .container h1 {
    left: 0;
}

#header .container nav {
    right: 0;
}

/* Banner */

#banner {
    background-color: #3F51B5;
    color: #ffffff;
    padding: 16em 0em 0em;
    text-align: center;
}

#banner p {
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
}

#banner h2 {
    color: #fff;
    font-size: 3.5em;
    font-size: 3em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner h6 {
    color: #fff;
    opacity: 0.87;
    font-weight: 500;
    letter-spacing: 0.02rem;
    font-size: 1rem;
    line-height: 1.72rem;
    margin: 0px 0px 0rem 0px;
}

.liter-background{
    background-color: #fafafa;
}

#banner .actions {
    margin: 3em 0 0 0;
}

/* Wrapper */

.wrapper {
    padding: 3em 0em 3em;
}

.wrapper.style1 {
    background-color: #3F51B5;
    -moz-background-image: linear-gradient(60deg, #3F51B5 50%, #2D3880 50%);
    -webkit-background-image: linear-gradient(60deg, #3F51B5 50%, #2D3880 50%);
    -o-background-image: linear-gradient(60deg, #3F51B5 50%, #2D3880 50%);
    -ms-background-image: linear-gradient(60deg, #3F51B5 50%, #2D3880 50%);
    background-image: linear-gradient(60deg, #3F51B5 50%, #2D3880 50%);
    color: #ffffff;
}

.wrapper.style1 header {
    margin-bottom: 4em;
}

.wrapper.style1 h2, .style1 h3 {
    color: #ffffff;
}

.wrapper.style1 .icon.big {
    border-color: #ffffff;
    margin-bottom: 0.5em;
}

.wrapper.style2 .title, .wrapper.style2 header {
    border-bottom: medium double rgba(144, 144, 144, 0.25);
    padding-bottom: 1em;
}

.wrapper.style2.install{
    padding: 0;
}

.wrapper.style2 header {
    margin-bottom: 4em;
}

.wrapper.style2 .feature {
    margin: 0 0 0 0;
}

.feature img{
    padding-top: 15px;
    max-width: 100%;
}

/* Footer */

#footer {
    background: #202222;
    color: #888;
    padding: 6em 0em 4em;
}

#footer h2, #footer h3, #footer h4 {
    color: #ffffff;
}

#footer a {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #888;
}

#footer a:active, #footer a:hover {
    color: #ffffff;
}

#footer .icons .rounded {
    border-color: #888;
    font-size: 1.5em;
}

#footer .icons .rounded:active, #footer .icons .rounded:hover {
    border-color: #ffffff;
}

#footer .copyright {
    font-size: 0.9em;
    margin: 2em 0 0 0;
    padding: 0;
    text-align: center;
}

#footer .copyright li {
    border-left: solid 1px rgba(144, 144, 144, 0.25);
    display: inline-block;
    list-style: none;
    margin-left: 1.5em;
    padding-left: 1.5em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#sidebar nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#sidebar nav p {
    margin: 0px 0px 0.5rem 0px;
}

.danger{
    color: #ff0000;
}

.home-mockups {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 0;
    z-index: 3;
    line-height: 0;
}

.home-mockup {
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    max-width: 1200px;
}

.home-mockup.main-mockup{
    position: relative;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all 650ms ease;
    -moz-transition: all 650ms ease;
    -o-transition: all 650ms ease;
    -ms-transition: all 650ms ease;
    transition: all 650ms ease;
}

.img.inline{
    display: inline-block;
}

.h2{
    font-weight: 300;
    letter-spacing: -0.13rem;
    font-size: 3.21rem;
    line-height: 3.44rem;
    display: inline-block;
}

.h3{
    opacity: 0.64;
    font-weight: 400;
    letter-spacing: -0.10rem;
    font-size: 2rem;
    line-height: 2.86rem;
    margin: 0;
}

.h4{
    font-size: 1.1em;
    line-height: 1.5em;
}

.downloads .download{
    border-bottom: 1px solid #b2b2b2;
    padding-top: 30px;
    padding-bottom: 30px;
}